{% include 'header.html' %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1629459736887-d751ac05b454?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <hr>
   {{articles}}
  </div>

</body>
</html>

{% include "footer.html" %}