argparse
charset-normalizer
dash
email-validator
flask-assets
flask-bootstrap
flask-ckeditor
flask-gravatar
flask-login
flask-sqlalchemy
flask-wtf
greenlet
gunicorn
jupyter
jupyterlab
matplotlib
openpyxl
pandas
pip-chill
psycopg2-binary
python-dotenv
req
signpdf
twilio
