anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
certifi
cff
chardet
charset-normalizer
click
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
dnspython
dominate
email-validator
entrypoints
et-xmlfile
executing
Flask
Flask-Assets
Flask-Bootstrap
Flask-CKEditor
Flask-Compress
Flask-Gravatar
Flask-Login=
Flask-SQLAlchemy
Flask-WTF
fonttools
greenlet
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerousedi1
jinja2
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server6
jupyterlab
jupyterlab-pygments
jupyterlab-server2
jupyterlab-widgets
kiwisolver
MarkupSafeatplotlib
matplotlib-inline
mistune
nbclassic
nbclient3
nbconvert
nbformat
nest-asyncio
notebook0
notebook-shim
numpy5
openpyxl
packagingpandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
prometheus-client1
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pure-eval=
pycparser
Pygments
PyJWT
pyparsing
PyPDF2
pyrsistent
python-dateutil
python-dotenv
pytz
pyzmq
qtconsole
QtPy
reportlab
req
requests
Send2Trash
signpdf
six
sniffio
soupsieve
SQLAlchemy
stack-data
tenacity
terminado
testpath
tornado
traitlets
twilio
urllib
visitor
wcwidth
webassets
webencodings
websocket-client
Werkzeug
widgetsnbextension
WTForms
