argparse
charset-normalizer
dash
email-validator
flask-assets
flask-bootstrap
flask-ckeditor
flask-gravatar
flask-login
flask-sqlalchemy
flask-wtf
greenlet
gunicorn
jupyter
jupyterlab
matplotlib
openpyxl
pandas
pip-chill
psycopg2-binary
python-dotenv~=0.19.2
req
signpdf
twilio

Flask~=2.1.0
requests~=2.24.0
Werkzeug~=2.0.3
WTForms~=2.3.3
SQLAlchemy~=1.3.19