{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="row">
                {% with messages = get_flashed_messages() %}

      <div class="col-lg-8 col-md-10 mx-auto content">
          {% if messages %}

    {% for message in messages %}
     <p>{{ message }}</p>

    {% endfor %}
        {% endif %}
        {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          <a class="btn btn-primary float-right" style="margin-top: 20px" href="{{url_for('register_user')}}">Register</a>
      </div>
    </div>

  </div>

{% endblock %}
{% include "footer.html" %}